<div class="jumbotron text-center">
  <h1>TracksID</h1>
  <p class="lead"></p>

  <p><%= link_to 'Create a new request', new_track_path, :class => "btn btn-lg btn-default" %></p>
</div>

<h1>Last Tracks</h1>
<hr>
<div class="row">
  <% @tracks.each do |track| %>
  <div class="col-xs-6 col-lg-4 text-center">
    <div class="embed-container">
      <%= track.embed_code.html_safe %>
    </div>
    <br>
    <p><span class="glyphicon glyphicon-time" aria-hidden="true"></span><%= track.created_at.strftime('%d/%m/%y')%></p>
    <p></p>
    <p><%= link_to 'View details »', track, :class => "btn btn-default" %></p>
    <% if current_user.present? and current_user.id == track.user_id %>
    <td><%= link_to 'Modify', edit_track_path(track), :class => "btn btn-default" %></td>
    <td><%= link_to 'Delete', track, method: :delete, data: { confirm: 'Are you sure?' }, :class =>"btn btn-default" %></td>
    <% end %>
  </div>
  <% end %>
</div>